<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand py-2" href="/">{{{data.logoLink}}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/personal">Personal Legal Protection</a>
            </li>
            <li class="nav-item ml-lg-4">
                <a class="nav-link" href="/identity">Identity Theft Protection</a>
            </li>
            <li class="nav-item ml-lg-4">
                <a class="nav-link" href="/business">Small Business Protection</a>
            </li>
            <li class="nav-item ml-lg-4 active">
                <a class="nav-link" href="/benefits">Employee Benefits</a>
            </li>
            <li class="nav-item ml-lg-4 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-boundary="viewport" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="/team">Join the Team</a>
                    <a class="dropdown-item" href="https://www.shieldnation.com/start">Training</a>
                    <a class="dropdown-item" href="/resources">Resources</a>
                    <a class="dropdown-item" href="/contact">Contact Us</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3500"
    data-pause="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="./images/eb-header/pic-1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="./images/eb-header/pic-2.jpg" alt="Second slide">
        </div>
    </div>
</div>
<div class="container py-3">
    <h4 style="color: rgb(115,71,136);">
        Offer Peace Of Mind For Your Employees
    </h4>
    <p>
        Legal and identity theft protection are among the newest wave of voluntary benefits companies are offering
        employees. It's no secret... Peace of mind yields higher productivity. When your people feel secure, they can
        focus on work over worry. That's why over 35,000 companies offer LegalShield and IDShield to their benefits
        package.
    </p>
    <h4 style="color: rgb(115,71,136);">
        Affordable Legal Protection For Everyone
    </h4>
    <p>
        LegalShield gives your employees the ability to talk with an attorney about any legal matter without worrying
        about high hourly costs. From the trivial to the traumatic and everything in between, our legal plans are
        designed to meet the most common legal needs encountered by employees and their families. Plus, at one low
        monthly fee, it's completely affordable for everyone. Contact Us For A No Obligation Proposal
    </p>
    <h4 style="color: rgb(115,71,136);">
        Millions Of People Become Victims Of ID Theft Each Year... Your Employees Don't Have To Be One Of Them
    </h4>
    <p>
        Identity Theft has been the #1 consumer complaint in the U.S. for over 16 years in a row. Identity theft
        impacts millions of people each year. Criminals are using a variety of scams & hacks to collect & steal
        personal information. It's no longer a matter of "IF" your employees will be impacted, but "WHEN". We offer
        comprehensive monitoring solutions and full restoration services at a very affordable employee rate. Contact Us
        For A No Obligation Proposal
    </p>
</div>
<div style="background-color: rgb(146, 109, 163)">
    <h2 class="text-center py-3 font-weight-light text-light">
        Click The Icons Below To See What We Cover
    </h2>
</div>
<div class="d-none d-md-flex justify-content-between px-3">
    <button class="btn" style="background-color: rgb(148, 74, 132)" id="scroll-btn-start">
        <i class="material-icons text-light" aria-hidden="true" style="font-size: 2em">arrow_back</i>
    </button>
    <button class="btn" style="background-color: rgb(148,74,132)" id="scroll-btn-end">
        <i class="material-icons text-light" aria-hidden="true" style="font-size: 2em">arrow_forward</i>
    </button>
</div>
<div class="d-flex py-5" style="width: 100%; overflow-x: scroll;" id="icon-scroll-purp">
    <div class="text-center mx-5" style="width: 150px;" id="scroll-start">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-one">
            <i class="fas fa-calendar fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Reduced Absenteeism</p>
    </div>
    <div class="modal fade" id="modal-one" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Reduced Absenteeism</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p>
                        According to Russell Research (April 2007), one in three employees took time off work an
                        average of 13 days a year for a legal problem. However, 70% of those enrolled in a group legal
                        plan did not take vacation days toward resolving their legal issues, compared to half of those
                        who hired their own attorney (Harris Interactive, 2011).
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-two">
            <i class="fas fa-chart-line fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Increased Productivity</p>
    </div>
    <div class="modal fade" id="modal-two" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Increased Productivity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p class="text-light">
                        Workers enrolled in a legal plan spent 25% less time resolving their legal matters compared to
                        those who hired an attorney on their own (4.4 weeks vs. 6.1 weeks on average, Harris
                        Interactive 2011)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-three">
            <i class="fas fa-smile fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Decreased Employee Stress</p>
    </div>
    <div class="modal fade" id="modal-three" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Decreased Employee Stress</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p>
                        When employees are stressed from legal or identity theft issues, they become distracted and
                        less focused at work. When their health suffers, medical claims may go up. When medical claims
                        go up, premiums increase.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-four">
            <i class="fas fa-trophy fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Progressive Company Image</p>
    </div>
    <div class="modal fade" id="modal-four" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Progressive Company Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p>
                        Show that you care about your employees. Employees and potential candidates care about more
                        than just salary. Add LegalShield to improve your benefits package and prove to your workers
                        you care about their welfare. Seventy percent of Americans have at least one new or ongoing
                        legal issue each year that could be more easily resolved if they had easy and affordable access
                        to an attorney. In a Harris Interactive Poll 2011, it was discovered that 50% of Americans do
                        not have a Will. These are services your employees want and need when looking at company
                        offered or company sponsored benefits.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-five">
            <i class="fas fa-puzzle-piece fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Simplified Implementation</p>
    </div>
    <div class="modal fade" id="modal-five" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Simplified Implementation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p>
                        We know that adding a new benefit can be time consuming and frustrating. Our goal is to make
                        the implementation process easy and stress free for you and your benefit team. From the first
                        proposal through the enrollment process and reviewing your first billing statement we will
                        shoulder most of the work and be with you every step of the way.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;" id="scroll-end">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-six">
            <i class="fas fa-list-ol fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Various Enrollment Options</p>
    </div>
    <div class="modal fade" id="modal-six" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Various Enrollment Options</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <h5>
                        Various Enrollment Options
                    </h5>
                    <ul>
                        <li>We offer onsite benefit enrollment meetings</li>
                        <li>Educational lunch and learns, staff meetings and webinars </li>
                        <li>Open enrollment</li>
                        <li>Electronic enrollment</li>
                        <li>Multi-Site </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5 pr-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-seven">
            <i class="fas fa-user-tie fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Designated Service Representative</p>
    </div>
    <div class="modal fade" id="modal-seven" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Designated Service Representative</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p>
                        A dedicated benefit representative will be assigned to your account to assist with all of your
                        needs. Our dedicated team of employee benefit solutions professionals will make the
                        implementation and the ongoing administration process easy to understand and stress free.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: rgb(115,71,136);" class="row no-gutters">
    <div class="col col-lg-5 d-flex justify-content-center align-items-center text-center text-sm-left">
        <div class="text-light mx-2 px-2 mx-md-3 px-md-3">
            <div class="pb-4 pt-3">
                <h2 class="text-white font-weight-light">
                    LegalShield Plans
                </h2>
                <h6 class="text-white font-weight-light">Protect yourself, your family, and your dependents from
                    trouble.</h6>
            </div>
            <div class="pb-4">
                <h2 class="text-white font-weight-light">
                    IDShield Plans
                </h2>
                <h6 class="text-white font-weight-light">Protect yourself with comprehensive identity theft monitoring
                    and restoration services.</h6>
                <hr>
                <h5 class="text-light">
                    Request A No Obligation Employee Benefit Consultation To Learn More
                </h5>
                <a href="/contact" target="_blank" class="btn btn-lg text-light" style="background-color: rgb(148, 74, 132);">
                    Request A No Obligation Consultation
                </a>
            </div>
        </div>
    </div>
    <div class="col col-lg-7 d-flex justify-content-center align-items-center">
        <div>
            {{!-- 1078 or 1110 --}}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/265786450" width="640" height="360"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <a href="./dlc/LegalShield-Protection.pdf" class="btn btn-lg btn-block text-light my-3 d-none d-md-block"
                style="background-color: rgb(148, 74, 132);" target="_blank">
                Click To Download Employee Benefits Brochure
            </a>
            <a href="./dlc/LegalShield-Protection.pdf" class="btn btn-lg btn-block text-light my-3 d-md-none" style="background-color: rgb(148, 74, 132);"
                target="_blank">
                Download Benefits Brochure
            </a>
        </div>
    </div>
</div>
<div style="background-color: rgb(146, 109, 163)" class="py-3">
    <h2 class="text-center font-weight-light text-light">
        STILL NOT CONVINCED?
    </h2>
    <p class="text-center">
        <a href="./dlc/Legal-Needs-American-Families.pdf" class="font-weight-light text-light mb-0">
            <i class="fas fa-link pr-1"></i>
            Read our research paper which reveals The Legal Needs
            of
            American Families
        </a>
        <br>
        <a href="./dlc/101-Reasons-To-Use-LegalShield.pdf" class="font-weight-light text-light mb-0">
            <i class="fas fa-link pr-2"></i>
            Review the top 101
            reasons on how to use LegalShield
            for
            your family
        </a>
    </p>
</div>
<div>
    <img class="img-fluid" src="./images/eb-header/pic-4.jpg" alt="">
</div>
<div style="background-color: rgb(146, 109, 163)">
    <h2 class="text-center py-3 font-weight-light text-light">
        See What Our Customers Have To Say!
    </h2>
</div>
<div id="testimonials" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item py-5 bg-light active">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/ls-test/testimony-1.jpg" alt="First slide" style="width: 75%">
            </div>
        </div>
        <div class="carousel-item py-5 bg-light">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/ls-test/testimony-2.jpg" alt="Second slide" style="width: 75%">
            </div>
        </div>
        <div class="carousel-item py-5 bg-light">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/ls-test/testimony-3.jpg" alt="Third slide" style="width: 75%">
            </div>
        </div>
        <div class="carousel-item py-5 bg-light">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/ls-test/testimony-4.jpg" alt="Fourth slide" style="width: 75%">
            </div>
        </div>
        <div class="carousel-item py-5 bg-light">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/ls-test/testimony-5.jpg" alt="Fifth slide" style="width: 75%">
            </div>
        </div>
        <div class="carousel-item py-5 bg-light">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/ls-test/testimony-6.jpg" alt="Sixth slide" style="width: 75%">
            </div>
        </div>
        <a class="carousel-control-prev" href="#testimonials" role="button" data-slide="prev">
            <i class="far fa-arrow-alt-circle-left fa-3x" aria-hidden="true" style="color: rgb(115,71,136)"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonials" role="button" data-slide="next">
            <i class="far fa-arrow-alt-circle-right fa-3x" aria-hidden="true" style="color: rgb(115,71,136)"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<script src="./javascript/iconScroll.js"></script>