<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand py-2" href="/">{{{data.logoLink}}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/personal">Personal Legal Protection</a>
            </li>
            <li class="nav-item ml-lg-4">
                <a class="nav-link" href="/identity">Identity Theft Protection</a>
            </li>
            <li class="nav-item ml-lg-4 active">
                <a class="nav-link" href="/business">Small Business Protection</a>
            </li>
            <li class="nav-item ml-lg-4">
                <a class="nav-link" href="/benefits">Employee Benefits</a>
            </li>
            <li class="nav-item ml-lg-4 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-boundary="viewport" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="/team">Join the Team</a>
                    <a class="dropdown-item" href="https://www.shieldnation.com/start">Training</a>
                    <a class="dropdown-item" href="/resources">Resources</a>
                    <a class="dropdown-item" href="/contact">Contact Us</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3500"
    data-pause="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="./images/sb-header/pic-1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="./images/sb-header/pic-2.jpg" alt="Second slide">
        </div>
    </div>
</div>
<div style="background-color: rgb(146, 109, 163)">
    <h2 class="text-center py-3 font-weight-light text-light">
        Click The Icons Below To See What Our Plan Covers
    </h2>
</div>
<div class="d-none d-md-flex justify-content-between px-3">
    <button class="btn" style="background-color: rgb(148, 74, 132)" id="scroll-btn-start">
        <i class="material-icons text-light" aria-hidden="true" style="font-size: 2em">arrow_back</i>
    </button>
    <button class="btn" style="background-color: rgb(148,74,132)" id="scroll-btn-end">
        <i class="material-icons text-light" aria-hidden="true" style="font-size: 2em">arrow_forward</i>
    </button>
</div>
<div class="d-flex py-5" style="width: 100%; overflow-x: scroll;" id="icon-scroll-purp">
    <div class="text-center mx-5" style="width: 150px;" id="scroll-start">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-one">
            <i class="fas fa-user-tie fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Legal Consultation and Advice (Unlimited Matters)</p>
    </div>
    <div class="modal fade" id="modal-one" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Consultation and Advice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <h5>
                        Pick up the phone and call your Provider Law Firm on any legal issue affecting your business
                        including, but not limited to:
                    </h5>
                    <ul>
                        <li>Hiring/firing</li>
                        <li>Small claims</li>
                        <li>Equipment leases</li>
                        <li>Incorporation</li>
                        <li>Bankruptcy</li>
                        <li>Joint ventures</li>
                        <li>Landlord/tenant disputes</li>
                        <li>Bad check recovery</li>
                        <li>Customer complaints</li>
                        <li>Vendor issues</li>
                        <li>Creditor harassment</li>
                        <li>Identity theft</li>
                        <li>Government compliance</li>
                        <li>Verbal contracts</li>
                        <li>City zoning</li>
                        <li>Workers’ compensation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-seven">
            <i class="fas fa-gavel fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Trial Defense Protection (SMBIZ 50 and SMBIZ 100)</p>
    </div>
    <div class="modal fade" id="modal-seven" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Trial Defense</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <h5>10 Or Fewer Employees</h5>
                    <ul>
                        <li>This plan has no legal representation.</li>
                    </ul>
                    <h5>50 Or Fewer Employees</h5>
                    <ul>
                        <li>75 total hours per year; includes up to 15 hours of pre-trial time</li>
                    </ul>
                    <h5>100 Or Fewer Employees</h5>
                    <ul>
                        <li>75 total hours per year; includes up to 25 hours of pre-trial time</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-two">
            <i class="fas fa-briefcase fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Dedicated Law Firm</p>
    </div>
    <div class="modal fade" id="modal-two" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Dedicated Law Firm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p>
                        Each member will receive direct access to a primary dedicated law firm for all of their legal
                        needs. LegalShield has a network of dedicated law firms in 50 states and 4 Canadian provinces
                        made up of seasoned lawyers with an average of 22 years experience. Our provider law firms
                        provide legal protection to over a million members any time they need it, even in covered
                        emergency situations, 24/7, 365 days a year.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-four">
            <i class="fas fa-file-signature fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Legal Correspondence</p>
    </div>
    <div class="modal fade" id="modal-four" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Legal Correspondence</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    Have your dedicated provider attorney execute 20-40 written letters (or phone calls) per year
                    depending on the plan you select. Our small business attorneys are prepared to help you with
                    written legal correspondences to help manage all of your business legal matters.
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-three">
            <i class="fas fa-file-alt fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Contract and Document Review</p>
    </div>
    <div class="modal fade" id="modal-three" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Contract and Document Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p>Never worry again about signing something before having it reviewed by an attorney. Make sure
                        everything is accurate and in writing for clients, employees, and more.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-five">
            <i class="fas fa-phone-square fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Letters and Phone Calls Made On Your Behalf</p>
    </div>
    <div class="modal fade" id="modal-five" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Letters and Phone Calls</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p>Have your provider execute 20 to 40 calls or written letters on your behalf. Many times a matter
                        can be easily cleared up by having your attorney get involved and make a call or to send a
                        letter on your behalf to the other party. You've worked hard for the business you have created,
                        our small business legal plan helps you protect it.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-six">
            <i class="fas fa-file-invoice-dollar fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Collection Letters</p>
    </div>
    <div class="modal fade" id="modal-six" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Collection Letters</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p>Protect your company from one of the most common legal problems facing many small businesses.
                        Ask your attorney to write a collection letter to vendors or clients that owe you money. Unlike
                        a collection agency that will keep up to 60% of the collected money for themselves, our
                        attorneys will help you put this money into your pocket... not theirs.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-eight">
            <i class="fas fa-file-download fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Access To Legal Forms/Contracts</p>
    </div>
    <div class="modal fade" id="modal-eight" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Access To Legal Forms/Contracts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p>Receive access to an extensive collection of Legal Forms/Contracts that are quick and simple to
                        fill out and implement into a contract or agreement.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5" style="width: 150px;">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-nine">
            <i class="fas fa-money-bill-wave fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">25% Preferred Discount For Any Additional Legal Services</p>
    </div>
    <div class="modal fade" id="modal-nine" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">25% Preferred Member Discount</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <p>
                        Never pay full price for legal assistance again. A 25% preferred member discount is provided
                        off the provider’s standard hourly rate. You can live
                        more and worry less knowing you may continue to use your provider law firm for legal situations
                        that extend beyond what is already outlined. Your law firm will let you know when the 25%
                        discount
                        applies, so you are never surprised with an unexpected bill.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mx-5 pr-5" style="width: 150px;" id="scroll-end">
        <button type="button" class="btn btn-transparent grow" data-toggle="modal" data-target="#modal-ten">
            <i class="fas fa-mobile-alt fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
        </button>
        <p class="lead mt-3">Mobile App</p>
    </div>
    <div class="modal fade" id="modal-ten" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header p-2 mr-1">
                    <h5 class="modal-title" id="exampleModalLabel">Download our LegalShield and IDShield Mobile App For
                        Android and iOS
                        devices</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                    <img src="./images/sb-icon-media/mobile.jpg" alt="Image Not Found" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: rgb(115,71,136);" class="row no-gutters">
    <div class="col col-lg-5 d-flex justify-content-center align-items-center text-center text-sm-left">
        <div class="text-light mx-2 px-2 mx-md-3 px-md-3">
            <div class="pb-4 pt-3">
                <h2 target="_blank" class="text-white font-weight-light">
                    Small Business Plans
                </h2>
                <p class="lead">Run your business with confidence for a low monthly fee.</p>
                <hr class="">
                <h5 class="text-light">
                    STARTING AT $39.00/MO
                </h5>
                <a href={{data.defaultLink}} class="btn btn-lg text-light" style="background-color: rgb(148, 74, 132);">
                    ENROLL NOW
                </a>
            </div>
            <div class="pb-4">
                <h2 class="text-white font-weight-light">
                    Personal Legal Plans
                </h2>
                <p class="lead">
                    Protect yourself and your family from legal trouble.
                </p>
                <hr>
                <h5 class="text-light">
                    STARTING AT $24.95/MO
                </h5>
                <a href="/personal" target="_blank" class="btn btn-lg text-light" style="background-color: rgb(148, 74, 132);">
                    Learn More
                </a>
            </div>
        </div>
    </div>
    <div class="col col-lg-7 d-flex justify-content-center align-items-center">
        <div>
            {{!-- 1078 or 1110 --}}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/295813952" width="640" height="360"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <a href="./dlc/Small-Business-Protection.pdf" target="_blank" class="btn btn-lg btn-block text-light my-3 d-none d-md-block"
                style="background-color: rgb(148, 74, 132);">
                Click To Download The SmallBiz Brochure
            </a>
            <a href="./dlc/Small-Business-Protection.pdf" target="_blank" class="btn btn-lg btn-block text-light my-3 d-md-none"
                style="background-color: rgb(148, 74, 132);">
                Download SmallBiz Brochure
            </a>
        </div>
    </div>
</div>
</div>
<div>
    <img class="img-fluid" src="./images/sb-infographic.jpg" alt="">
</div>
<div style="background-color: rgb(146, 109, 163)" class="py-3">
    <h2 class="text-center font-weight-light text-light">
        STILL NOT CONVINCED?
    </h2>
    <p class="text-center">
        <a href="./dlc/resources/Legal-Needs-Small-Business-Final-2019.pdf" target="_blank" class="font-weight-light text-light mb-0">
            <i class="fas fa-link pr-1"></i>
            Read our research paper which reveals the Legal Needs of Running a Small Businesses
        </a>
        <br>
        <a href="./dlc/Small-Business-101-Reasons.pdf" target="_blank" class="font-weight-light text-light mb-0">
            <i class="fas fa-link pr-2"></i>
            Review the top 101 reasons on how to use LegalShield For Your Business
        </a>
    </p>
</div>
<div>
    <img class="img-fluid" src="./images/sb-header/pic-4.jpg" alt="">
</div>
<div class="row bg-light no-gutters">
    <div class="col">
        <h2 class="text-center py-3 font-weight-light text-light" style="background-color: rgb(146, 109, 163)">
            See What Our Customers Have To Say!
        </h2>
    </div>
</div>
<div id="testimonials" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item py-5 bg-light active">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/sb-test/testimony-1.jpg" alt="First slide" style="width: 75%">
            </div>
        </div>
        <div class="carousel-item py-5 bg-light">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/sb-test/testimony-2.jpg" alt="Second slide" style="width: 75%">
            </div>
        </div>
        <div class="carousel-item py-5 bg-light">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/sb-test/testimony-3.jpg" alt="Third slide" style="width: 75%">
            </div>
        </div>
        <div class="carousel-item py-5 bg-light">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/sb-test/testimony-4.jpg" alt="Fourth slide" style="width: 75%">
            </div>
        </div>
        <div class="carousel-item py-5 bg-light">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/sb-test/testimony-5.jpg" alt="Fifth slide" style="width: 75%">
            </div>
        </div>
        <div class="carousel-item py-5 bg-light">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/sb-test/testimony-6.jpg" alt="Sixth slide" style="width: 75%">
            </div>
        </div>
        <div class="carousel-item py-5 bg-light">
            <div class="w-100 bg-light">
                <img class="d-block shadow-lg mx-auto" src="./images/sb-test/testimony-7.jpg" alt="Seventh slide" style="width: 75%">
            </div>
        </div>
        <a class="carousel-control-prev" href="#testimonials" role="button" data-slide="prev">
            <i class="far fa-arrow-alt-circle-left fa-3x" aria-hidden="true" style="color: rgb(115,71,136)"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonials" role="button" data-slide="next">
            <i class="far fa-arrow-alt-circle-right fa-3x" aria-hidden="true" style="color: rgb(115,71,136)"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<script src="./javascript/iconScroll.js"></script>